mixin button(buttonLink, buttonText)
  a(class='reset-btn' href=buttonLink)= buttonText

html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include styles.css
  body
    header
      h1 Create password for Teemaderegister
    container
      p Press button below to create your password:
      +button(passwordCreateURL, 'Create password')
      p If the button is not working please copy the create password URL below and paste into your browser
      p #{passwordCreateURL}
