@import 'variables';
@import 'helpers';

@import 'nprogress/nprogress';
@import 'recharts/recharts';

@import 'app';

@import 'components/AccountForgot';
@import 'components/AccountPassword';
@import 'components/Admin';
@import 'components/Breadcrumbs';
@import 'components/Button';
@import 'components/CurriculumAdd';
@import 'components/CurriculumMeta';
@import 'components/Form';
@import 'components/HeaderWrap';
@import 'components/Home';
@import 'components/HomeCollection';
@import 'components/HomeCards';
@import 'components/Login';
@import 'components/SettingsAccount';
@import 'components/SettingsPassword';
@import 'components/Supervisor';
@import 'components/SupervisorMeta';
@import 'components/TableContent';
@import 'components/TableWrap';
@import 'components/TermsOfService';