mixin button(buttonLink, buttonText)
    a(class='reset-btn' href=buttonLink)= buttonText

html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include styles.css
  body
    header
      h1 Email confirmation for Teemaderegister
    container
      p Press button below to confirm your email:
      +button(confirmLink, 'Confirm email')
      p If the button is not working please copy the email confirmation URL below and paste into your browser
      p #{confirmLink}
